<a href="https://colab.research.google.com/github/jechavarria12/World_GDP_Neural_netowrk/blob/main/world_bank_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Instalación de las librerías
!pip install -q pandas
!pip install -q numpy
!pip install -q scipy
!pip install -q matplotlib
!pip install -q seaborn
!pip install -q plotly
!pip install -q yellowbrick
!pip install -q scikit-learn
!pip install -q imbalanced-learn
!pip install -q tqdm
!pip install -q joblib
!pip install -q huggingface_hub
!pip install -q datasets
!pip install -q ydata_profiling

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
#Importar el dataset desde Kaggle
!kaggle datasets download sazidthe1/world-gdp-data
DATASET_NAME = 'world-gdp-data'

%cd {ROOT_DIR}
!unzip -o {DATASET_NAME}.zip -d {DATASET_NAME}

Dataset URL: https://www.kaggle.com/datasets/sazidthe1/world-gdp-data
License(s): Attribution 4.0 International (CC BY 4.0)
Downloading world-gdp-data.zip to /
100% 108k/108k [00:00<00:00, 537kB/s]
100% 108k/108k [00:00<00:00, 536kB/s]
/
Archive:  world-gdp-data.zip
  inflating: world-gdp-data/country_codes.csv
  inflating: world-gdp-data/gdp_data.csv

In [ ]:
I#Usar pandas para tener los dos dataframes
import pandas as pd

df_1=pd.read_csv("world-gdp-data//country_codes.csv")
df_2=pd.read_csv('world-gdp-data//gdp_data.csv')

In [ ]:
#Unir los Dataframes sobre la columna en común, country code
merged_df = pd.merge(df_1, df_2, on='country_code', how='inner')
print(merged_df.describe())
print(merged_df.isna().sum())
merged_df.dropna(inplace=True)

               year         value
count  10548.000000  1.054800e+04
mean    1994.977436  1.902435e+11
std       17.364673  1.031776e+12
min     1960.000000  8.824746e+06
25%     1981.000000  1.547855e+09
50%     1997.000000  8.140967e+09
75%     2010.000000  5.409850e+10
max     2022.000000  2.550000e+13
country_code    0
region          0
income_group    0
country_name    0
year            0
value           0
dtype: int64

In [ ]:
# Pivot the dataframe
pivoted_df = merged_df.pivot_table(index=['country_code', 'region', 'income_group', 'country_name'],
                                   columns='year',
                                   values='value',
                                   aggfunc='first').reset_index()

# Display the pivoted dataframe
display(pivoted_df)

year,country_code,region,income_group,country_name,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,Latin America & Caribbean,High income,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,AFG,South Asia,Low income,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,Angola,NaN,NaN,NaN,NaN,NaN,NaN,...,1.330000e+11,1.370000e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.070000e+11
3,ALB,Europe & Central Asia,Upper middle income,Albania,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10
4,AND,Europe & Central Asia,High income,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,...,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,XKX,Europe & Central Asia,Upper middle income,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735328e+09,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09
210,YEM,Middle East & North Africa,Low income,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
211,ZAF,Sub-Saharan Africa,Upper middle income,South Africa,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.010000e+11,3.810000e+11,3.470000e+11,3.240000e+11,3.810000e+11,4.040000e+11,3.890000e+11,3.380000e+11,4.190000e+11,4.060000e+11
212,ZMB,Sub-Saharan Africa,Lower middle income,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10
213,ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10

In [ ]:
print(pivoted_df.isna().sum())
pivoted_df.dropna(inplace=False)
print(pivoted_df.isna().sum())
# Display the pivoted dataframe
display(pivoted_df)

year
country_code    0
region          0
income_group    0
country_name    0
1960            0
               ..
2018            0
2019            0
2020            0
2021            0
2022            0
Length: 67, dtype: int64
year
country_code    0
region          0
income_group    0
country_name    0
1960            0
               ..
2018            0
2019            0
2020            0
2021            0
2022            0
Length: 67, dtype: int64

year,country_code,region,income_group,country_name,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
10,AUS,East Asia & Pacific,High income,Australia,1.860656e+10,1.968288e+10,1.992256e+10,2.153984e+10,2.380112e+10,2.597616e+10,...,1.580000e+12,1.470000e+12,1.350000e+12,1.210000e+12,1.330000e+12,1.430000e+12,1.390000e+12,1.330000e+12,1.550000e+12,1.680000e+12
11,AUT,Europe & Central Asia,High income,Austria,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,...,4.300000e+11,4.430000e+11,3.820000e+11,3.960000e+11,4.170000e+11,4.550000e+11,4.450000e+11,4.350000e+11,4.800000e+11,4.710000e+11
13,BDI,Sub-Saharan Africa,Low income,Burundi,1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,...,2.451607e+09,2.705783e+09,3.104004e+09,2.644488e+09,2.723587e+09,2.667182e+09,2.576519e+09,2.649680e+09,2.775799e+09,3.073415e+09
14,BEL,Europe & Central Asia,High income,Belgium,1.165872e+10,1.240015e+10,1.326402e+10,1.426002e+10,1.596011e+10,1.737146e+10,...,5.220000e+11,5.350000e+11,4.620000e+11,4.760000e+11,5.030000e+11,5.430000e+11,5.360000e+11,5.250000e+11,5.940000e+11,5.790000e+11
15,BEN,Sub-Saharan Africa,Lower middle income,Benin,2.261956e+08,2.356682e+08,2.364350e+08,2.539277e+08,2.698190e+08,2.899087e+08,...,1.251785e+10,1.328453e+10,1.138816e+10,1.182107e+10,1.270166e+10,1.426241e+10,1.439169e+10,1.565155e+10,1.769008e+10,1.740175e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,USA,North America,High income,United States,5.430000e+11,5.630000e+11,6.050000e+11,6.390000e+11,6.860000e+11,7.440000e+11,...,1.680000e+13,1.760000e+13,1.820000e+13,1.870000e+13,1.950000e+13,2.050000e+13,2.140000e+13,2.110000e+13,2.330000e+13,2.550000e+13
203,VCT,Latin America & Caribbean,Upper middle income,St. Vincent and the Grenadines,1.306663e+07,1.399996e+07,1.452496e+07,1.370830e+07,1.475830e+07,1.510830e+07,...,7.647813e+08,7.709014e+08,7.865546e+08,8.143023e+08,8.440391e+08,8.843282e+08,9.107657e+08,8.691119e+08,8.722261e+08,9.485585e+08
211,ZAF,Sub-Saharan Africa,Upper middle income,South Africa,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.010000e+11,3.810000e+11,3.470000e+11,3.240000e+11,3.810000e+11,4.040000e+11,3.890000e+11,3.380000e+11,4.190000e+11,4.060000e+11
212,ZMB,Sub-Saharan Africa,Lower middle income,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10
213,ZWE,Sub-Saharan Africa,Lower middle income,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10

In [ ]:
from ydata_profiling import ProfileReport
display(merged_df.head())

,country_code,region,income_group,country_name,year,value
0,ABW,Latin America & Caribbean,High income,Aruba,1986,405586592.2
1,ABW,Latin America & Caribbean,High income,Aruba,1987,487709497.2
2,ABW,Latin America & Caribbean,High income,Aruba,1988,596648044.7
3,ABW,Latin America & Caribbean,High income,Aruba,1989,695530726.3
4,ABW,Latin America & Caribbean,High income,Aruba,1990,764804469.3

# **Punto 3**


---
**•¿Cuál es la variable objetivo?**

.

**•¿Qué teorías puede plantear a partir de este análisis sobre la variable objetivo?**

.

**•¿Existen variables con alta correlación?**

.

**•¿Hay variables que se podrían eliminar? ¿Por qué?**

.

**•¿Qué ocurre con la serie de tiempo? ¿Cuál es el desafío?**

.